/*——————————————————————————————————————————————————
  ANIMATION
  ——————————————————————————————————————————————————*/

.split-child {
  display:block;
}

@-webkit-keyframes slide-in {
  from {
    transform: translateY(40px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in {
  from {
    transform: translateY(40px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

