/*——————————————————————————————————————————————————
  FONT FACE
  —————————————————————————————————————————————————— */
@font-face {
  font-family: 'Ayer';
  src: url('../fonts/AyerRegular.woff2');
  src: url('../fonts/AyerRegular.ttf') format('ttf'),
       url('../fonts/AyerRegular.woff2') format('woff2'),
       url('../fonts/AyerRegular.woff') format('woff');
  font-weight:400;
}
@font-face {
  font-family: 'AyerRegularItalic';
  src: url('../fonts/AyerRegularItalic.woff2');
  src: url('../fonts/AyerRegularItalic.ttf') format('ttf'),
       url('../fonts/AyerRegularItalic.woff2') format('woff2'),
       url('../fonts/AyerRegularItalic.woff') format('woff');
  font-weight:400;
}

/*——————————————————————————————————————————————————
  TYPOGRAPHY
  —————————————————————————————————————————————————— */

body, html, input {
  font-family: 'Ayer', -apple-system, BlinkMacSystemFont, Helvetica Neue, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size:16px;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.italic, i {
  font-family: 'AyerRegularItalic', 'Ayer', -apple-system, BlinkMacSystemFont, Helvetica Neue, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/*——————————————————————————————————————————————————
  HEADINGS
  —————————————————————————————————————————————————— */

h1, h2, h3, h5, h6 {
  margin:0px;
  line-height:1;
  font-family: 'Ayer', -apple-system, BlinkMacSystemFont, Helvetica Neue, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400;
}
h1 {
  font-size:40px;
  letter-spacing: -0.01em;
}
h2 {
  font-size:40px;
}
h3 {
  font-size:22px;
}
h4 {
  font-size:19px;
}
h5 {
  font-size: 12px;
  font-weight:400;
}
h6 {
  font-size:20px;
}
h2 {
  line-height: 0.9;
  letter-spacing: -0.011em;
  line-height: .96;
}

h2 {
  font-size: 8.5vh;
}
.spacer {
  height: 5vh;
}
.icon-1 svg {
  height: 4.3vh;
}
.icon-2 svg {
  height: 3.5vh;
}

@media all and (min-height:150vw) {
  h2 {
    font-size: 12.7vw;
  }
  .spacer {
    height: 7.6vw;
  }
  .icon-1 svg {
    height: 6.5vw;
  }
  .icon-2 svg {
    height: 5.3vw;
  }
}

.show-mobile {
  display:none !important;
}
@media all and (min-height:125vw) {
  .show-mobile {
    display:inline-block !important;
  }
  .show-desktop {
    display:none !important;
  }
}


.fs-20 {
  font-size:20px;
}
.fs-24 {
  font-size:24px;
}

/*——————————————————————————————————————————————————
  PARAGRAPHS
  —————————————————————————————————————————————————— */

p {
  margin-bottom:10px;
}
p:last-child {
  margin-bottom:0px;
}
p.small {
    font-size:16px;
}

/*——————————————————————————————————————————————————
  LINKS
  —————————————————————————————————————————————————— */

p a {
    display: inline-block;
    position: relative;
}
p a:after {
    content:'';
    width:100%;
    background:#000;
    height:1px;
    position:absolute;
    bottom:2px;
    left:0;
}
.no-underline a:after {
    display:none;
}

/*——————————————————————————————————————————————————
  NAV TYPOGRAPHY
  —————————————————————————————————————————————————— */

header nav {
  font-size:14px;
}
footer nav li a {
  font-size:15px;
}

/*——————————————————————————————————————————————————
  RESPONSIVE
  —————————————————————————————————————————————————— */

@media all and (min-width:768px) {

}
