/*——————————————————————————————————————————————————
  CSS RESET
  —————————————————————————————————————————————————— */

html {
-webkit-text-size-adjust: 100%;
  font-smooth: always;
  overflow:scroll;
}
* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
section {
  position:relative;
}
body {
  line-height: 1; 
    text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  width:100vw;
}
.box-container ul {
  list-style: disc;
  padding-left: 18px;
  font-size: 15px;
  line-height: 2;
}
.box-container h2 {
    margin-bottom: 10px;
}
blockquote, q {
  quotes: none; 
}
table {
  border-collapse: collapse;
  border-spacing: 0; 
}
img {
  max-width: 100%;
  display: block;
  width:100%;
  align-self: center;
  height: auto;
}
button {
  background:transparent;
  outline:none;
}
a, a:hover, a:visited, a:focus, a:active  {
  text-decoration: none;
  color: inherit;
  outline: 0;
}
.hide {
  display:none;
}
button {
  cursor: pointer;
}

/*——————————————————————————————————————————————————
COLUMN GUIDE
—————————————————————————————————————————————————— */

#guide {
  position:absolute;
  height:100%;
  width:100%;
  top:0;
  left:0;
  z-index: 100;
  pointer-events:none;
}
#guide .wrapper, #guide .row {
  height:100%;
  width:100%;
}
#guide .col-xs {
  padding:0px !important;
  height:100%;
  position:relative;
  border-right:1px solid rgba(0,100,255,1);
}
#guide .col-xs:first-child {
  border-left:1px solid rgba(0,100,255,1);
}

/*——————————————————————————————————————————————————
FLEX
——————————————————————————————————————————————————*/

.flex {
  box-sizing: border-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex: 0 1 auto;
  -webkit-box-flex: 0;
  flex: 0 1 auto;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
}
.flex > .col {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
    padding-left: .9375rem;
    padding-right: .9375rem;
}

/*——————————————————————————————————————————————————
	UTILITY CLASSES
  ——————————————————————————————————————————————————*/
  .minheight {
    min-height:calc(100vh);
  }
  .overflow {
    overflow:hidden;
  }
  .zindex {
    z-index:1;
  }
  .bottom {
    bottom:0;
    top:unset !important;
  }
  .right {
    right:0;
    left:unset;
  }
  .left {
    left:0;
  }
  .flex-1 {
	  flex: 1 !important;
  }
  .fillheight {
    height: 100%;
  }
  .right {
    text-align:right;	
  }
  .left {
    text-align:left;
  }
  .center {
    text-align:center;
  }
  .fitcontent {
    height:fit-content;
  }
  .fullheight {
    height:100%;
  }
  @media all and (min-width:768px) {
    .fullheight-sm {
      height:100%;
    }
  }
  @media all and (min-width:1024px) {
    .fullheight-md {
      height:100%;
    }
  }
  .fullwidth {
    width:100%;
  }
  .fillheight {
    flex:1 !important;
  }
  .fillheightwrap {
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column !important;
  }
  .winheight {
    height:100vh;
    min-height:50vw;
  }
  .thirdheight {
    height:30vh;
  }
  .quarterheight {
    height:18vh;
  }
  @media all and (max-width:1024px) {
    .winheight {
      height:calc(100vh - 40px);
    }
  }
  .inline {
    display:inline-block;
    margin:0 auto;
  }
  .block {
    display:block !important;
  }
  .absolute {
    position:absolute;
    top:0;
    left:0;
  }

  @media all and (min-width:768px) {
    .absolute-md {
      position:absolute;
    }
  }
  .absolute.fill {
    height:100%;
    width:100%;
  }
  .right {
    right:0;
    left:unset;
  }
  .fixed {
    position:fixed;
  }

  @media all and (min-width:1024px) {
    .fixed-md {
      position:fixed;
    }
  }
  .fixedtop {
    position:fixed !important;
    top:0;
  }
  .relative {
    position: relative;
  }
  .block {
    display: block;
  }
  .overflow {
    overflow: hidden;
  }
  .scroll {
    overflow: scroll;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
  .inlineblock {
    display:inline-block;
  }
  .text-left {
    text-align: left !important;
  }


/*——————————————————————————————————————————————————
    SPACING 
  ——————————————————————————————————————————————————*/

.nomarginbottom {
    margin-bottom:0px;
}
.nomargintop {
    margin-top:0px !important;
}
.sp-5, .sp-10, .sp-15, .sp-20, .sp-25, .sp-30, .sp-40, .sp-50, .sp-60, .sp-70, .sp-80, .sp-110, .sp-120 {
	width:100%;
	clear:both;
	display:block;
}
.sp-5 {
	min-height:5px;
}
.sp-10 {
	min-height:10px;
}
.sp-15 {
	min-height:15px;
}
.sp-20 {
	min-height:20px;
}
.sp-25 {
	min-height:25px;
}
.sp-30 {
	min-height:30px;
}
.sp-40 {
	min-height:40px;
}
.sp-50 {
	min-height:50px;
}
.sp-60 {
	min-height:60px;
}
.sp-70 {
	min-height:70px;
}
.sp-80 {
	min-height:80px;
}
.sp-110 {
	min-height:110px;
}
.sp-120 {
	min-height:120px;
}
.wd-5 {
  width:5px;
  display:inline-block;
}
.wd-10 {
  width:10px;
  display:inline-block;
}
.wd-20 {
  width:20px;
  display:inline-block;
}
.wd-30 {
  width:30px;
  display:inline-block;
}
.wd-40 {
  width:40px;
  display:inline-block;
}
.wd-50 {
  width:50px;
  display:inline-block;
}
.wd-60 {
  width:60px;
  display:inline-block;
}
.wd-70 {
  width:70px;
  display:inline-block;
}
.wd-80 {
  width:80px;
  display:inline-block;
}
.wd-200 {
  width:200px;
  display:inline-block;
}

/*——————————————————————————————————————————————————
	FLEXBOX GRID
  ——————————————————————————————————————————————————*/

.row, .flex {
  box-sizing: border-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex: 0 1 auto;
  -webkit-box-flex: 0;
  flex: 0 1 auto;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
      width: 100%;
}
.row.column {
  flex-direction:column;
}
.flexfill {
  flex:1;
}
.row.reverse {
  -ms-flex-direction: row-reverse;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  flex-direction: row-reverse;
}
.col.reverse {
  -ms-flex-direction: column-reverse;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  flex-direction: column-reverse;
}
.show-sm, .show-md, .show-lg {
    display:none;
}
.col-xs,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
  box-sizing: border-box;
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
}
.noflex {
	display:block;
}
.col-xs {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  max-width: 100%;
}

.col-xs-1 {
  -ms-flex-preferred-size: 8.333%;
  flex-basis: 8.333%;
  max-width: 8.333%;
}

.col-xs-2 {
  -ms-flex-preferred-size: 16.667%;
  flex-basis: 16.667%;
  max-width: 16.667%;
}

.col-xs-3 {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  max-width: 25%;
}

.col-xs-4 {
  -ms-flex-preferred-size: 33.333%;
  flex-basis: 33.333%;
  max-width: 33.333%;
}

.col-xs-5 {
  -ms-flex-preferred-size: 41.667%;
  flex-basis: 41.667%;
  max-width: 41.667%;
}

.col-xs-6 {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 50%;
}

.col-xs-7 {
  -ms-flex-preferred-size: 58.333%;
  flex-basis: 58.333%;
  max-width: 58.333%;
}

.col-xs-8 {
  -ms-flex-preferred-size: 66.667%;
  flex-basis: 66.667%;
  max-width: 66.667%;
}

.col-xs-9 {
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
  max-width: 75%;
}

.col-xs-10 {
  -ms-flex-preferred-size: 83.333%;
  flex-basis: 83.333%;
  max-width: 83.333%;
}

.col-xs-11 {
  -ms-flex-preferred-size: 91.667%;
  flex-basis: 91.667%;
  max-width: 91.667%;
}

.col-xs-12 {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;
}

.col-xs-offset-1 {
  margin-left: 8.333%;
}

.col-xs-offset-2 {
  margin-left: 16.667%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-offset-4 {
  margin-left: 33.333%;
}

.col-xs-offset-5 {
  margin-left: 41.667%;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-offset-7 {
  margin-left: 58.333%;
}

.col-xs-offset-8 {
  margin-left: 66.667%;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-offset-10 {
  margin-left: 83.333%;
}

.col-xs-offset-11 {
  margin-left: 91.667%;
}


.col-xs-offset-right-1 {
  margin-right: -8.333%;
}

.col-xs-offset-right-2 {
  margin-right: -16.667%;
}

.col-xs-offset-right-3 {
  margin-right: -25%;
}

.col-xs-offset-right-4 {
  margin-right: -33.333%;
}

.col-xs-offset-right-5 {
  margin-right: -41.667%;
}

.col-xs-offset-right-6 {
  margin-right: -50%;
}

.col-xs-offset-right-7 {
  margin-right: -58.333%;
}

.col-xs-offset-right-8 {
  margin-right: -66.667%;
}

.col-xs-offset-right-9 {
  margin-right: -75%;
}

.col-xs-offset-right-0 {
  margin-right: -83.333%;
}

.col-xs-offset-right-11 {
  margin-right: -91.667%;
}

.start-xs {
  -ms-flex-pack: start;
  -webkit-box-pack: start;
  justify-content: flex-start;
  text-align: start;
}

.center-xs {
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
}
.center-xs img {
    display: block;
    margin: 0 auto;
}

.end-xs {
  -ms-flex-pack: end;
  -webkit-box-pack: end;
  justify-content: flex-end;
  text-align: end;
}


.top-xs {
  -ms-flex-align: start;
  -webkit-box-align: start;
  align-items: flex-start;
}

.middle-xs {
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
}

.bottom-xs {
  -ms-flex-align: end;
  -webkit-box-align: end;
  align-items: flex-end;
}

.around-xs {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.between-xs {
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.first-xs {
  -ms-flex-order: -1;
  -webkit-box-ordinal-group: 0;
  order: -1;
}

.last-xs {
  -ms-flex-order: 1;
  -webkit-box-ordinal-group: 2;
  order: 1;
}

.fill-xs {
   height:100%;
	flex:1;
}
.pad-top-bottom {
	padding-left:0px !important;
	padding-right:0px !important;
}
.pad-bottom {
	padding-left:0px !important;
	padding-right:0px !important;
	padding-top:0px !important;
}
.pad-left-right {
	padding-top:0px !important;
	padding-bottom:0px !important;
}
.pad-left {
	padding-top:0px !important;
	padding-bottom:0px !important;
  padding-right:0px !important;
}
.pad-right {
	padding-top:0px !important;
	padding-bottom:0px !important;
  padding-left:0px !important;
}
.no-pad-left {
  padding-left:0px !important;
}
.no-pad-right {
  padding-right:0px !important;
}
.pad-top {
	padding-bottom:0px !important;
}
.pad-xs-0 {
  padding:0px;
}
.pad-xs-5 {
  padding:5px;
}
.pad-xs-10 {
  padding:12px;
}
.pad-xs-15 {
  padding:15px;
}
.pad-xs-20 {
  padding:20px;
}
.pad-xs-25 {
  padding:25px;
}
.pad-xs-30 {
  padding:30px;
}
.pad-xs-40 {
  padding:40px;
}
.pad-xs-50 {
  padding:50px;
}
.pad-xs-60 {
  padding:60px;
}
.pad-xs-70 {
  padding:70px;
}
.pad-xs-80 {
  padding:80px;
}
.pad-xs-100 {
  padding:100px;
}
.pad-xs-120 {
  padding:120px;
}

@media only screen and (min-width: 768px) {
  .container {
    width: 46rem;
  }
  .col-sm,
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12 {
    box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
  }
  .absolute-sm {
    position:absolute !important;
    top:0;
    left:0;
  }

  .col-sm {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }

  .col-sm-1 {
    -ms-flex-preferred-size: 8.333%;
    flex-basis: 8.333%;
    max-width: 8.333%;
  }

  .col-sm-2 {
    -ms-flex-preferred-size: 16.667%;
    flex-basis: 16.667%;
    max-width: 16.667%;
  }

  .col-sm-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-sm-4 {
    -ms-flex-preferred-size: 33.333%;
    flex-basis: 33.333%;
    max-width: 33.333%;
  }

  .col-sm-5 {
    -ms-flex-preferred-size: 41.667%;
    flex-basis: 41.667%;
    max-width: 41.667%;
  }

  .col-sm-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-sm-7 {
    -ms-flex-preferred-size: 58.333%;
    flex-basis: 58.333%;
    max-width: 58.333%;
  }

  .col-sm-8 {
    -ms-flex-preferred-size: 66.667%;
    flex-basis: 66.667%;
    max-width: 66.667%;
  }

  .col-sm-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-sm-10 {
    -ms-flex-preferred-size: 83.333%;
    flex-basis: 83.333%;
    max-width: 83.333%;
  }

  .col-sm-11 {
    -ms-flex-preferred-size: 91.667%;
    flex-basis: 91.667%;
    max-width: 91.667%;
  }

  .col-sm-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }

 .col-sm-offset-0 {
    margin-left: 0%;
  }
  .col-sm-offset-1 {
    margin-left: 8.333%;
  }

  .col-sm-offset-2 {
    margin-left: 16.667%;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }

  .col-sm-offset-4 {
    margin-left: 33.333%;
  }

  .col-sm-offset-5 {
    margin-left: 41.667%;
  }

  .col-sm-offset-6 {
    margin-left: 50%;
  }

  .col-sm-offset-7 {
    margin-left: 58.333%;
  }

  .col-sm-offset-8 {
    margin-left: 66.667%;
  }

  .col-sm-offset-9 {
    margin-left: 75%;
  }

  .col-sm-offset-10 {
    margin-left: 83.333%;
  }

  .col-sm-offset-11 {
    margin-left: 91.667%;
  }

  .start-sm {
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  .center-sm {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
  }

  .end-sm {
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
    text-align: right;
  }

  .top-sm {
    -ms-flex-align: start;
    -webkit-box-align: start;
    align-items: flex-start;
  }

  .middle-sm {
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
  }

  .bottom-sm {
    -ms-flex-align: end;
    -webkit-box-align: end;
    align-items: flex-end;
  }

  .around-sm {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .between-sm {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }

  .first-sm {
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
    order: -1;
  }

  .last-sm {
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1;
  }
  .show-sm {
    display:block;
  }
  .hide-sm {
	 display:none;
	 }
  .fill-sm {
    height:100%;
  }
	.pad-sm-0 {
		padding:0px;
  }
  .pad-sm-5 {
    padding:5px;
  }
  .pad-sm-10 {
    padding:10px;
  }
	.pad-sm-15 {
		padding:15px;
	 }
	 .pad-sm-20 {
		padding:20px;
	 }
	 .pad-sm-25 {
		padding:25px;
	 }
	.pad-sm-30 {
		padding:30px;
	}
	.pad-sm-40 {
		padding:40px;
	}
	.pad-sm-50 {
		padding:50px;
	}
	.pad-sm-60 {
		padding:60px;
	}
	.pad-sm-70 {
		padding:70px;
	}
	.pad-sm-80 {
		padding:80px;
	}
  .pad-sm-120 {
		padding:120px;
	}
	.lr-40-sm {
    padding-left: 40px !important;
	padding-right: 40px !important;
	
	}
	.center-sm .button {
		    margin: 0 auto;
  }
  .pad-top-sm {
    padding-bottom:0px !important;
  }

}

@media only screen and (min-width: 1024px) {
  .container {
    width: 61rem;
  }
  .absolute-md {
    position:absolute !important;
    top:0;
    left:0;
  }

  .col-md,
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
  }

  .col-md {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }

  .col-md-1 {
    -ms-flex-preferred-size: 8.333%;
    flex-basis: 8.333%;
    max-width: 8.333%;
  }

  .col-md-2 {
    -ms-flex-preferred-size: 16.667%;
    flex-basis: 16.667%;
    max-width: 16.667%;
  }

  .col-md-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-md-4 {
    -ms-flex-preferred-size: 33.333%;
    flex-basis: 33.333%;
    max-width: 33.333%;
  }

  .col-md-5 {
    -ms-flex-preferred-size: 41.667%;
    flex-basis: 41.667%;
    max-width: 41.667%;
  }

  .col-md-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-md-7 {
    -ms-flex-preferred-size: 58.333%;
    flex-basis: 58.333%;
    max-width: 58.333%;
  }

  .col-md-8 {
    -ms-flex-preferred-size: 66.667%;
    flex-basis: 66.667%;
    max-width: 66.667%;
  }

  .col-md-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-md-10 {
    -ms-flex-preferred-size: 83.333%;
    flex-basis: 83.333%;
    max-width: 83.333%;
  }

  .col-md-11 {
    -ms-flex-preferred-size: 91.667%;
    flex-basis: 91.667%;
    max-width: 91.667%;
  }

  .col-md-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
  
  .col-md-offset-0 {
    margin-left: 0;
  }
  .col-md-offset-1 {
    margin-left: 8.333%;
  }

  .col-md-offset-2 {
    margin-left: 16.667%;
  }

  .col-md-offset-3 {
    margin-left: 25%;
  }

  .col-md-offset-4 {
    margin-left: 33.333%;
  }

  .col-md-offset-5 {
    margin-left: 41.667%;
  }

  .col-md-offset-6 {
    margin-left: 50%;
  }

  .col-md-offset-7 {
    margin-left: 58.333%;
  }

  .col-md-offset-8 {
    margin-left: 66.667%;
  }

  .col-md-offset-9 {
    margin-left: 75%;
  }

  .col-md-offset-10 {
    margin-left: 83.333%;
  }

  .col-md-offset-11 {
    margin-left: 91.667%;
  }

  .start-md {
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-align: start;
	text-align:left;
  }

  .center-md {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
  }

  .end-md {
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
    text-align: end;
  }
  
   .right-md {
    text-align: right;
  }

  .top-md {
    -ms-flex-align: start;
    -webkit-box-align: start;
    align-items: flex-start;
  }

  .middle-md {
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
  }

  .bottom-md {
    -ms-flex-align: end;
    -webkit-box-align: end;
    align-items: flex-end;
  }

  .around-md {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .between-md {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }

  .first-md {
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
    order: -1;
  }

  .last-md {
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1;
  }
  .column-md {
    flex-direction:column;
  }
  .show-md {
    display:block;
  }
   .hide-md {
    display:none;
  }
  .fill-md {
    height:100%;
  }
	
	.pad-md-0 {
		padding:0px;
	}
	.pad-md-15 {
		padding:15px;
	}
	.pad-md-20 {
		padding:20px;
	}
	.pad-md-25 {
		padding:25px;
	}
	.pad-md-30 {
		padding:30px;
	}
	.pad-md-40 {
		padding:40px;
	}
	.pad-md-50 {
		padding:50px;
	}
	.pad-md-60 {
		padding:60px;
	}
	.pad-md-70 {
		padding:70px;
	}
	.pad-md-80 {
		padding:80px;
	}
  .pad-md-120 {
		padding:120px;
	}
}

@media only screen and (min-width: 1400px) {
  .container {
    width: 71rem;
  }

  .col-lg,
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-5th,
  .col-lg-9th {
    box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
/*    padding-right: 1rem;
    padding-left: 1rem; */
  }

  .col-lg {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }

  .col-lg-1 {
    -ms-flex-preferred-size: 8.333%;
    flex-basis: 8.333%;
    max-width: 8.333%;
  }

  .col-lg-2 {
    -ms-flex-preferred-size: 16.667%;
    flex-basis: 16.667%;
    max-width: 16.667%;
  }

  .col-lg-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-lg-4 {
    -ms-flex-preferred-size: 33.333%;
    flex-basis: 33.333%;
    max-width: 33.333%;
  }

  .col-lg-5 {
    -ms-flex-preferred-size: 41.667%;
    flex-basis: 41.667%;
    max-width: 41.667%;
  }

  .col-lg-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-lg-7 {
    -ms-flex-preferred-size: 58.333%;
    flex-basis: 58.333%;
    max-width: 58.333%;
  }

  .col-lg-8 {
    -ms-flex-preferred-size: 66.667%;
    flex-basis: 66.667%;
    max-width: 66.667%;
  }

  .col-lg-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-lg-10 {
    -ms-flex-preferred-size: 83.333%;
    flex-basis: 83.333%;
    max-width: 83.333%;
  }

  .col-lg-11 {
    -ms-flex-preferred-size: 91.667%;
    flex-basis: 91.667%;
    max-width: 91.667%;
  }

  .col-lg-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
  .col-lg-5th {
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%;
    max-width: 20%;
  }
  .col-lg-9th {
    -ms-flex-preferred-size: 11.1%;
    flex-basis: 11.1%;
    max-width: 11.1%;
  }

  
.col-lg-offset-0 {
    margin-left: 0%;
  }
  .col-lg-offset-1 {
    margin-left: 8.333%;
  }

  .col-lg-offset-2 {
    margin-left: 16.667%;
  }

  .col-lg-offset-3 {
    margin-left: 25%;
  }

  .col-lg-offset-4 {
    margin-left: 33.333%;
  }

  .col-lg-offset-5 {
    margin-left: 41.667%;
  }

  .col-lg-offset-6 {
    margin-left: 50%;
  }

  .col-lg-offset-7 {
    margin-left: 58.333%;
  }

  .col-lg-offset-8 {
    margin-left: 66.667%;
  }

  .col-lg-offset-9 {
    margin-left: 75%;
  }

  .col-lg-offset-10 {
    margin-left: 83.333%;
  }

  .col-lg-offset-11 {
    margin-left: 91.667%;
  }

  .start-lg {
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-align: start;
	  text-align:left;
  }

  .center-lg {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
  }

  .end-lg {
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
    text-align: end;
  }

  .top-lg {
    -ms-flex-align: start;
    -webkit-box-align: start;
    align-items: flex-start;
  }

  .middle-lg {
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
  }

  .bottom-lg {
    -ms-flex-align: end;
    -webkit-box-align: end;
    align-items: flex-end;
  }

  .around-lg {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .between-lg {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }

  .first-lg {
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
    order: -1;
  }

  .last-lg {
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1;
  }
  
  .show-lg {
    display:block;
  }
	
  .hide-lg {
    display:none;
  }
  .fill-lg {
    height:100%;
  }
	.pad-lg-0 {
		padding:0px;
	}
	.pad-lg-15 {
		padding:15px;
	}
	.pad-lg-20 {
		padding:20px;
	}
	.pad-lg-25 {
		padding:25px;
	}
	.pad-lg-30 {
		padding:30px;
	}
	.pad-lg-40 {
		padding:40px;
	}
	.pad-lg-50 {
		padding:50px;
	}
	.pad-lg-60 {
		padding:60px;
	}
	.pad-lg-70 {
		padding:70px;
	}
	.pad-lg-80 {
		padding:80px;
	}
  .pad-lg-120 {
		padding:120px;
	}
}

@media only screen and (min-width: 1600px) {
  .pad-xl-0 {
		padding:0px;
	}
	.pad-xl-15 {
		padding:15px;
	}
	.pad-xl-20 {
		padding:20px;
	}
	.pad-xl-25 {
		padding:25px;
	}
	.pad-xl-30 {
		padding:30px;
	}
	.pad-xl-40 {
		padding:40px;
	}
	.pad-xl-60 {
		padding:60px;
	}
	.pad-xl-80 {
		padding:80px;
  }
}