@font-face {
  font-family: 'Bagoss Standard';
  src: url('/fonts/BagossStandardTRIAL-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Logo font - Ayer */
@font-face {
  font-family: 'Ayer';
  src: url('/fonts/AyerRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ayer';
  src: url('/fonts/AyerRegularItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

/* Hide body content until preloader is ready */
body:not(.preloader-ready) {
  overflow: hidden;
}

body:not(.preloader-ready) #app {
  visibility: hidden;
  opacity: 0;
}

body.preloader-ready #app {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.2s ease-in;
}

:root {

  --mobile-breakpoint: 800;

  /* Gutter */
  --gutter-mobile: 15;
  --gutter-desktop: 20;
  --gutter: clamp(calc(var(--gutter-mobile) * 1px), calc((100vw * var(--gutter-desktop)) / var(--mobile-breakpoint)), calc(var(--gutter-desktop) * 1px));
  
  /* Font sizes */
  --font-size-body-mobile: 12;
  --font-size-large-mobile: 18;
  --font-size-logo-mobile: 18;

  --font-size-body-desktop: 16;
  --font-size-large-desktop: 22;
  --font-size-logo-desktop: 40;

  --font-size-body: clamp(calc(var(--font-size-body-mobile) * 1px), calc((100vw * var(--font-size-body-desktop)) / var(--mobile-breakpoint)), calc(var(--font-size-body-desktop) * 1px));
  --font-size-large: clamp(calc(var(--font-size-large-mobile) * 1px), calc((100vw * var(--font-size-large-desktop)) / var(--mobile-breakpoint)), calc(var(--font-size-large-desktop) * 1px));
  --font-size-logo: clamp(calc(var(--font-size-logo-mobile) * 1px), calc((100vw * var(--font-size-logo-desktop)) / var(--mobile-breakpoint)), calc(var(--font-size-logo-desktop) * 1px));
  

  
  /* Line height */
  --line-height: 1.2;
  
  /* Aspect ratios */
  --aspect-ratio-portrait: 3 / 4;
  --aspect-ratio-square: 1 / 1;
  --aspect-ratio-landscape: 4.5 / 3;
  
  /* Max width */
  --max-width: 1800px;
  
  /* Colors (will be set dynamically via inline styles) */
  --text-color: #000000;
  --background-color: #ffffff;
  
  /* Font family */
  --font-family: 'Bagoss Standard', sans-serif;
  
  /* Logo font family */
  --logo-font-family: 'Ayer', sans-serif;
  
  /* Underline offset */
  --underline-offset: -3px;
  
  /* Header height (will be set dynamically via inline styles) */
  --header-height: 0px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: var(--font-family);
  font-size: var(--font-size-body);
  line-height: var(--line-height);
  color: var(--text-color);
  background-color: var(--background-color);
  transition-property: color, background-color;
  transition-duration: 0.6s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size-body);
  line-height: var(--line-height);
  color: var(--text-color);
  background-color: var(--background-color);
  transition-property: color, background-color;
  transition-duration: 0.6s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

.large {
  font-size: var(--font-size-large);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

#app {
  min-height: 100vh;
  max-width: var(--max-width);
  margin: 0 auto;
  color: var(--text-color);
  background-color: var(--background-color);
  transition-property: color, background-color;
  transition-duration: 0.6s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

.pad-1 {
  padding: var(--gutter);
}

.no-pad-top {
  padding-top: 0px !important;
}

.logo {
  font-family: var(--logo-font-family);
  font-size: var(--font-size-logo);
  color: currentColor;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}

.logo :deep(p) {
  margin: 0;
  display: inline;
}

/* Ensure logo link has no decoration */
.logo :deep(a) {
  text-decoration: none;
  color: inherit;
}

.border-bottom {
  border-bottom: 1px solid currentColor;
}
.border-top {
  border-top: 1px solid currentColor;
}

.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

.header-nav {
  display: flex;
  gap: var(--gutter);
}

.header-nav-right {
  justify-content: end;
}

.header-logo {
  flex: 1;
  display: flex;
  justify-content: center;
}

.header-logo :deep(a) {
  text-decoration: none;
  color: inherit;
}

.header-link {
  text-decoration: none;
  color: inherit;
}

.footer {
  line-height: 1.2;
}
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.footer-links {
  display: flex;
  flex-direction: column;
}

.footer-link {
  text-decoration: none;
  color: inherit;
}

.footer-back-to-top {
  background: none;
  border: none;
  font-size: var(--font-size-large);
  cursor: pointer;
  color: inherit;
  padding: 0;
}
.footer-back-to-top span {
  position: relative;
  transition: transform 0.3s ease;
  display:block;
}
.footer-back-to-top:hover span {
  transform: translateY(0);
  transform: translateY(-3px);
}

.footer-back-to-top svg {
  fill: currentColor;
  width: 18px;
  height: 18px;
  transform: rotate(-45deg);
}


.arrow-up {
  width: 12px;
  height: 25px;
  position: relative;
  display: block;
}
.arrow-up:before {
  content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    width: 8px;
    height: auto;
    display: block;
    aspect-ratio: 1 / 1;
    border-top: 1px solid currentColor;
    border-right: 1px solid currentColor;
    transform: rotate(-45deg) translate(0px);
    transform-origin: center;
}
.arrow-up:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  display: block;
  border-right: 1px solid currentColor;
}
/* 
.info-link-arrow {
  position: relative;
  width: 15px;
  height: 21px;
  margin-left: 8px;
}
.info-link-arrow:before {
  content: '';
  position: absolute;
  bottom: 8px;
  left: 8px;
  width: 7px;
  height: 7px;
  border-top: 1px solid currentColor;
  border-right: 1px solid currentColor;
}
.info-link-arrow:after {
  content: '';
  position: absolute;
  bottom: 1px;
  left: -0.5px;
  width: 9.5px;
  height: 21px;
  background: transparent;
  border-right: 1px solid currentColor;
  transform: rotate(45deg);
} */